<div class="row">
  <div class="col-lg-12">
    <h1>About</h1>
    <p class="lead">
      This small demo site is built with Twitter Bootstrap, AngularJS, Django and Django REST Framework.
    </p>
    <p>The data models are as follows:</p>
    
   	<dl>
   		<dt>Polyhedron</dt>
   			<dd>A 3 dimensional shape onto which images can be mapped</dd>
   		<br><dt>Texture</dt>
   			<dd>An image from which a clipping can be applied to the faces of a Polyhedron. A Texture can be applied to many shapes</dd>
   		<br><dt>TextureLine</dt>
   			<dd>A grouping of textures that expresses a particular "style" i.e. spacey, earthy.  A shape may or may not have Textures in a particular TextureLine</dd>
   		<br><dt>TextureImplementation</dt>
   			<dd>An application of a Texture onto a Polyhedron</dd>
   		<br><dt>PolyhedronProduct</dt>
   			<dd>A particular manifestiation of the TextureImplementation in the form of a product i.e. made of cardstock or backlight media</dd>
   	</dl>
    
    <p>You can see the code for <a href="https://github.com/justin-hackin/playful-geometer-site">this web app on Github</a></p>
    
    <p>
      Thanks to  <a href="https://twitter.com/DanielJonss">@DanielJonss</a>, for providing the Django-AngularJS example from which this was based, available on <a href="https://github.com/MaTachi/product-gallery">Github</a> 
      
      Licensed under the license GNU GPL version 3 or later.
    </p>
  </div>
</div>
