<div class="row">
  <div class="col-lg-12">
    <div class="jumbotron">
      <h1>The Playful Geometer's 3D Models</h1>
      <p class="lead">
        The following is a demonstration of combining Django with AngularJS to show how <a href="http://cosmic-spacecrafts.net">The Playful Geometer's</a> 3D models could better be represented in relational databases with a dynamicly loading content.
      </p>
      <p>
        <a class="btn btn-large btn-success" href="#/polyhedrons">Check out the available shapes !</a>
      </p>
    </div>
  </div>
</div>
